<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	<!-- configuration pool -->



<hibernate-configuration>
	<session-factory>
		<!-- 配置mysql数据库连接参数 -->
		<property name="hbm2ddl.auto">update</property>

		<!--<property name="show_sql">true</property>-->
		<!--<property name="format_sql">true</property>-->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gt?useUnicode=true&amp;characterEncoding=utf8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>

		<!--<property name="hibernate.connection.url">jdbc:mysql://rm-uf6533mo112otpf4so.mysql.rds.aliyuncs.com:3306/gt?useUnicode=true&amp;characterEncoding=utf8</property>-->
		<!--<property name="hibernate.connection.username">rootadmin</property>-->
		<!--<property name="hibernate.connection.password">rootAdmin@123</property>-->
		
		<mapping resource="admin/Admin.hbm.xml" />
		<mapping resource="roster/Roster.hbm.xml" />
		<mapping resource="roster/SocialSecurity.hbm.xml" />
		<mapping resource="px/PxInfo.hbm.xml" />
		<mapping resource="second/Second.hbm.xml" />
		<mapping resource="kqb/Job.hbm.xml" />
		<mapping resource="kqb/Size.hbm.xml" />
		<mapping resource="kqb/Kqb.hbm.xml" />
		<mapping resource="kqb/Todaykq.hbm.xml" />
		<mapping resource="kqb/KqbExport.hbm.xml" />
		<mapping resource="cw/Cw.hbm.xml" />
		<mapping resource="cw/Sbinfo.hbm.xml" />
		
		</session-factory>
</hibernate-configuration>
